body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    height: 1.5rem;
    width: 20rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "photo description"
        "photo sign-up"
        "photo create-account";
    height: 100vh;
}

.photo {
    grid-area: photo;
    min-width: 30vw;
    height: 100vh;
    background-image: url("./images/zeynep-sumer-kpxFYkb3Cfo-unsplash.jpg");
    background-size: 100%;
}

.attribution {
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.attribution a {
    color: white;
}

.description,
.sign-up,
.create-account {
    padding-left: 5rem;
}

.description {
    grid-area: description;
    background-color: rgb(251, 251, 251);
}

.sign-up {
    grid-area: sign-up;
}

form {
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

form div {
    margin: 1rem 0rem 1rem 0rem;
    width: fit-content;
    display: inline;
}

.create-account {
    grid-area: create-account;
    background-color: rgb(251, 251, 251);
}

button {
    border-style: none;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(39, 125, 39);
    height: 2.5rem;
    width: 15rem;
}