@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    height: 1.5rem;
    width: 20rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "photo description"
        "photo sign-up"
        "photo create-account";
    height: 100vh;
}

.photo {
    grid-area: photo;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 100%;
}

.banner {
    font-family: Norse-Bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 10rem;
    background-color: rgba(53, 53, 53, 0.589);
}

h1 {
    margin: 1rem;
}

.attribution {
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.attribution a {
    color: white;
}

.description,
.sign-up,
.create-account {
    padding-left: 5rem;
}

.description {
    grid-area: description;
    background-color: rgb(251, 251, 251);
    position: relative;
    padding-bottom: 2rem;
}

.description .content {
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    bottom: 0;
}

.sign-up {
    grid-area: sign-up;
    box-shadow: 5px 10px 10px #888888;
}

form {
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

form div {
    margin: 1rem 0rem 1rem 0rem;
    width: fit-content;
    display: inline;
}

input {
    border: 1px solid black;
    border-radius: 0.3rem;
}

input:focus {
    border: 1px solid blue;
    border-radius: 0.3rem;
    /* box-shadow: 1px 5px 8px #888888; */
}

.create-account {
    grid-area: create-account;
    background-color: rgb(251, 251, 251);
    padding-top: 2rem;
}

button {
    border-style: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(39, 125, 39);
    height: 2.5rem;
    width: 15rem;
}